extends layout

block content
	h1 Welcome to the chat-demo

	div
		div.container
			ul.messages-list
			
			input(type='text', id='txtMessage', placeholder='Input a message', autofocus).message-input
			button(type='button', id='btnSend').btn-send Send

	div.error-message
