extends layout

block content
	h1 Welcome to the chat-demo

	div.container
		ul.messages-list
		
		input(type='text', id='txtMessage', placeholder='Input a message').message-input
		button(type='button', id='btnSend').btn-send Send
