doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src='/javascripts/3rdparties/runtime.js')
		script(src='/javascripts/3rdparties/moment.js')
		script(src='/javascripts/3rdparties/micropatterns.js')
		script(src='/javascripts/templates.js')
		script(src='/javascripts/chat-client.js')